name: CI/CD Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Instalar dependencias
      run: |
        pip install -r deber_devops/requirements.txt
        pip install pytest setuptools wheel
        export PYTHONPATH="${{ github.workspace }}/deber_devops"

    - name: Ejecutar pruebas
      run: pytest deber_devops/tests

    - name: Construir package
      run: |
        cd deber_devops
        python setup.py sdist bdist_wheel

    - name: Subir artefacto generado
      uses: actions/upload-artifact@v4
      with:
        name: paquete-python
        path: deber_devops/dist/
